.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.details{
    width: 30rem;
    margin-left: 10rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;

   
    
}

.details  .image{
    width: 17rem;
    height: 25rem;
}

.details .titleCard{
    display: inline-block;
   
    flex-direction: column;
    justify-content: space-around;
    background-color: seagreen;
}

.titleCard .title{
    font-size: xx-large;
}































.bidBox{
    width: 30rem;
    margin-left: 10rem;
    background-color: antiquewhite;
}