.footer {
  margin-top: 10rem;
  background-color: rgb(238, 171, 171);
  width: 100%;
  height: 15rem;

  display: flex;
  flex-direction: row;
  gap:5rem;
  margin-top: 10rem;
}

.FirstPart {
    margin-left: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  border-right: 0.5px solid gray;
  align-items: center;
}

.FirstPart img {
  width: 90px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.FirstPart .copyrightText {
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

.FirstPart .social_Links{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap:20px;
}

.social_Links .link{
    text-decoration: none;
    color: black;
}
.MiddlePart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 7rem;
  padding-right: 5rem;
  border-right: 0.5px solid gray;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.MiddlePart .m1 {
    display: flex;
    flex-direction: column;
    gap:5px;

}

.MiddlePart .m2{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.MiddlePart .m3{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.m3 label{
    margin-top: 0.9rem;
    color: white;
}
.label{
    color: black;
}

.LastPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.webLINK{
    text-decoration: none;
    color: black;
}
.webLink{
    width: 140px;
    height: 2.7rem;
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid black;
    display: flex;
    flex-direction: row; 

    
}

.weblink img{
    width: 10px;
    height: 10px;
}
.webLink .webLinkText{
    display: flex;
    flex-direction: column;

    .upText{
        font-size: 10px;
    }

    .downText{
        font-size: 16px;
        font-weight: 650;
    }
}